 #containerparameters {
 max-width: 840px;
 height: 400px;
 margin: 5px auto;
 }

table {
margin: 5px 100px 60px 850px;
width: 980px;
}

thead th {
background: #F0F8FF;
color: #000;
width: 20px;
}

tr {
border: 10px solid #FFF;
background: #F0FFFF;
margin-bottom: 5px;
width: 20px;
}

tr:nth-child(even) {
background: #F5F5DC;
width: 20px;
}

td, th {
text-align: center;
width: 20px;
}

/*tr {
border: 10px solid #FFF;
}*/

 canvas {
 padding: 0 10px 10px 10px;
}

 canvas#temperature {
 width: 600px;
 height: 600px;
 
}

 canvas#humidity {
 width: 600px;
 height: 600px;
}






 #displayparams {
 list-style: none;
 width: 990px;
 height: 380px;
}

 #displayparams li  {
 float: left;
 margin-left: 1.5%;
 width: 45%;
 height: 40%;
 background-color: #f5f0f0;
}

