@media screen and (min-width: 270px) {

#displayparams {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 height: 380px;
}

}

@media screen and (min-width: 744px) {

#displayparams {
 display:flex;
 flex-wrap: wrap;
 flex-direction: row;
 height: 380px;
}

}

